.profile__update-avatar {
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  opacity:0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../images/avatar_update.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  justify-self: center;
}

.profile__update-avatar:hover {
  opacity:1;
}
